af_pred/top_pred/6VE9_cst.sc
af_pred/top_pred/2KTO_cst.sc
af_pred/top_pred/8CWX_cst.sc
af_pred/top_pred/6VGT_cst.sc
flex_ripp_scan/structure_prediction/7JU9_cst.sc
flex_ripp_scan/structure_prediction/7JVF_cst.sc
flex_ripp_scan/structure_prediction/6PQG_cst.sc
flex_ripp_scan/structure_prediction/1AJ1_cst.sc
flex_ripp_scan/structure_prediction/6VHJ_cst.sc
flex_ripp_scan/structure_prediction/6VLJ_cst.sc
flex_ripp_scan/structure_prediction/6VHJ_scan_clean.sc
flex_ripp_scan/structure_prediction/7JVF_scan_clean.sc
flex_ripp_scan/structure_prediction/6PQG_scan_clean.sc
flex_ripp_scan/structure_prediction/7JU9_scan_clean.sc
flex_ripp_scan/structure_prediction/6VLJ_scan_clean.sc
flex_ripp_scan/structure_prediction/1AJ1_scan_clean.sc

