AtomPair CB 22 CB 13 HARMONIC 2.8 1.0
#AtomPair SG 22 CB 13 HARMONIC 1.8 0.1
#AtomPair SG 23 CA 20 HARMONIC 2.8 0.1
#AtomPair SG 23 CB 20 HARMONIC 1.8 0.1
##AtomPair CA 23 CA 20 HARMONIC 5.3 0.1
#AtomPair SG 27 CA 24 HARMONIC 2.8 0.1
#AtomPair SG 27 CB 24 HARMONIC 1.8 0.1
##AtomPair CA 27 CA 24 HARMONIC 5.3 0.1

